/* .charitycarousel img{
    padding: 1em;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
}

.carousel-img img {
    width: 500px;
    height: auto;
    padding: 1rem;
    object-fit: cover;
  }

  /* .Cimage1 {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin: auto;
    width: 100%;
  }

  .Cimage2 {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin: auto;
    width: 100%;

  }
  .Cimage3 {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin: auto;
    width: 100%;
  }
  .Cimage4 {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin: auto;
    width: 100%;
  }
 */ 
