@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fira+Sans+Condensed:wght@500&display=swap');
/* Gallery */
.gHeader {
    font-family: URW Chancery L, cursive;
    font-size: 4em;
    text-align: center;
      }
  
  .gallery{
    background-size: cover;
  
  }

  .gallery-img {
    width: 100%;
    height: auto;
  }

  .wrapper {
    background:   rgb(248, 239, 186,0.75);
    padding: 20px;
  }
  
    .contentWrapper{
      text-align: center;
      padding: 5px;
      border: 3px solid #123f62;
    }
  
    .voteButton{
      padding: 4px;
    }
  
    .logo, .email-logo {
      text-align: center;
      margin: 5px;
      width: 30px;
      height: 30px;
    }
  
    .logo:hover {
      transform: scale(0.9);
    }
  
  .art-photo {
    max-width: 100%;
    height: 275px;
  }
  
    .artInfo {
      padding: 1em;
    }
  
    .each-grid {
      border: 3px solid #123f62;
      background-color: white;
      font-family: URW Chancery L, cursive;
      padding: 1rem;
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      text-align: center;
      grid-gap: 20px;
      padding: 20px;
      margin: 1em;
    }
  
    .img {
        width: 100%;
        height: auto;
    }
  
    .art-grid {
        position: relative;
    }
  
    .art-photo {
        padding: 1em;
      line-height: 0;
      overflow: hidden;
    }
  
    .artist-name {
        text-align: center
    }