
#root {
    background-color: rgb(219, 202, 219);
}
 li {   
   padding: 10px 0;
}
footer {
    background: black;
    font: white;
    font-size: medium;
    position: fixed;
    height: 25em;
    width: 100%;
    align-items: center;
    justify-content: center;
}
footer h2 {
    color: white;
}
footer div {
    position: center;
    align-items: center;
}
footer img {
    height: 13em;
    width: auto;
    
}

/* Class */

.navBar {
    width: 100%;
    height: 20em;
    background-color: #111;
    color: white;
    padding: 10px;
}

.links {
    height: 0;
    overflow: hidden;
    list-style-type: none;
    font-weight: bold;
}

.show-nav {
    height: 120px;
}


/* Media screen size */

 /* @media screen and (min-width: 768px) {
    .navbutton {
        display: none;
    }
    .links {
        height: auto;
        display: flex;
    }
    li {
        padding: 0 15px;
    } */

/* Home */
.jumbotron {
    background-position: center;
    background-image: url("./assets/jumboimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.about {
    background-color: rgba(250, 204, 204, 0.89);
    padding: 4em;
}
 }
